* {
	font-family: "Verdana", Arial, sans-serif;
}

html {
	background-color: #F0F0F0;
	margin: 0;
	padding: 0;
}

body {
	color: #555753;
	margin: 0;
	padding: 0;
}

form {
	margin: auto;
	max-width: 600px;
	width: 100%;
}

p {
	margin-top: 0px;
	text-align: center;
}

p.questions {
	margin-top: 0;
	text-align: left;
}

h1 {
	text-align:center;
   }

h2 {
	text-align: center;
	font-style: italic;
}

h3 {
	margin: 0px;
	text-align: left;
}
	
img {
  	display:block;
	margin:auto;
	width:50%;
	height: auto;
}

